/* 전체 공통 설정 */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 핵심: root는 화면 전체 쓰게만 해주기 */
#root {
  width: 100%;
  min-height: 100vh;
}
